.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.container() {
  width: auto;
  max-width: 659px;
  padding-left: 6.25%;
  padding-right: 6.25%;

  @media @tablet-widths {
    width: auto;
    max-width: 959px;
    padding-right: 5.8%;
    padding-left: 5.8%;
  }

  @media @desktop-widths {
    width: 940px;
    padding-left: 1.0416%;
    padding-right: 1.0416%;
    margin: 0 auto;
  }

}

.list() {
  margin: 0;
  padding: 0;

  list-style: none;
}
