@text-color: #283645;
@white-color: #ffffff;
@border-bottom: 1px solid #000000;
@border-top: 1px solid #485461;
@border-table: 2px solid #e5e5e5;
@title-color: #000000;
@tablet-widths: ~"(min-width: 660px)";
@mobile-and-tablet-widths: ~"(max-width: 959px)";
@desktop-widths: ~"(min-width: 960px)";
