.advantages {
  text-align: center;
}

.advantages__slogan {
  .container();
  padding-top: 40px;
  padding-bottom: 33px;

  p {
    margin: 0;

    font-size: 24px;
    line-height: 120%;
    font-weight: 300;

    &:first-child {
      margin-bottom: 30px;
    }
  }

}

.advantages__list {
  .list();
  .container();
  padding-top: 80px;
  padding-bottom: 285px;

  background-color: #f2f2f2;
  background-image: url(../img/iphone-screen-mobile@1x.png), url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 109.5%, 100% 0;
  background-size: 157px 320px, cover;
  overflow: hidden;
}

.advantages__item {
  margin-bottom: 33px;
}

.advantages__title {
  display: block;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 24px;

  color: @title-color;
}

.advantages__description {
  margin: 0;

  line-height: 24px;
}

@media @tablet-widths {

  .advantages__slogan {
    padding-top: 49px;
    padding-bottom: 45px;

    p {
      font-size: 40px;

      &:first-child {
        margin-bottom: 0;
      }
    }

  }

  .advantages__list {
    padding-top: 77px;
    padding-left: 50%;
    padding-bottom: 7px;
  }

  .advantages__item {
    margin-bottom: 36px;

    text-align: left;
  }

}
