.contacts__wrapper {
  .container();
  padding-top: 44px;
  padding-bottom: 15px;

  text-align: center;
}

.contacts__text {
  margin: 0;

  font-size: 24px;
  line-height: 120%;
  font-weight: 300;

  &:nth-of-type(2) {
    margin-bottom: 35px;
  }
}

.contacts__list {
  .list();
}

.contacts__type {
  font-size: 18px;
  line-height: 120%;
}

.contacts__value {
  display: block;

  font-size: 24px;
  line-height: 120%;
  font-weight: 300;

  color: #d22856;
  text-decoration: none;
}

.contacts__item {
  margin-bottom: 24px;
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 200px;

  background-color: #eae6dd;
  background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 0, 50% 0;
  background-size: 100%, auto;
}
