.page-header {
  position: relative;

  margin-bottom: -66px;

  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo-wrapper {
  padding: 22px 6.25% 21px;
  height: 22px;
}

.page-header__logo {
  display: inline-block;
  height: 22px;

  cursor: pointer;

  svg {
    height: 22px;
    width: 75px;

    fill: @white-color;
  }

  &:hover svg {
    fill: @decorative-color;
  }

  &:active svg {
    fill: @white-color;
    opacity: 0.3;
  }
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

@media @mobile-widths-only {

  .page-header--open-nav .page-header__logo-wrapper,
  .page-header--nojs .page-header__logo-wrapper {
    padding-bottom: 24px;
  }

}

@media @mobile-and-tablet-widths {

  .page-header--open-nav,
  .page-header--nojs {
    background-color: @text-color;
  }

  .page-header--open-nav .page-header__logo-wrapper {
    border-bottom: @border-bottom;
  }

}

@media @tablet-widths {

  .page-header {
    margin-bottom: -110px;
  }

  .page-header__logo-wrapper {
    height: 41px;
    padding: 27px 5.8% 42px;
  }

  .page-header__logo {
    height: 40px;

    svg {
      width: 147px;
      height: 40px;
    }
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: inline-block;
  }

}

@media @tablet-widths-only {

  .page-header--open-nav .page-header__logo-wrapper,
  .page-header--nojs .page-header__logo-wrapper {
    padding-bottom: 41px;
  }

}

@media @desktop-widths {

  .page-header {
    margin-bottom: -112px;
  }

  .page-header__logo-wrapper {
    padding: 0;
    margin-right: 90px;
  }

  .page-header__logo {
    height: 40px;

    svg {
      width: 147px;
      height: 40px;
    }
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: inline-block;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
    padding: 0 1.0416%;
    padding-top: 27px;
    padding-bottom: 36px;
  }

}
