.research {
  display: none;
}

@media @tablet-widths {

  .research {
    display: block;
  }

  .research__wrapper {
    width: auto;
    max-width: 959px;
    padding: 0 5.8%;
    padding-top: 59px;
    padding-left: 50%;
    padding-bottom: 60px;
  }

  .research__name {
    display: block;
    margin-top: 37px;
    margin-bottom: 10px;
    width: 170px;

    font-size: 30px;
    line-height: 1.2;

    color: @title-color;
  }

  .research__text {
    margin: 0;
    margin-bottom: 8px;
  }

  .research__more {
    color: #d22856;
  }

}
