.research {
  display: none;
}

@media @tablet-widths {

  .research {
    display: block;
  }

  .research__wrapper {
    position: relative;

    width: auto;
    max-width: 959px;
    padding: 0 5.8%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";

      display: block;
      width: 238px;
      height: 276px;

      background: url("../img/icon-timer.svg") no-repeat 0 0;
      background-size: 238px 276px;
    }

    &::after {
      content: "24";
      position: absolute;
      top: 115px;
      left: 8.2%;

      height: 176px;
      width: 176px;

      font-size: 96px;
      line-height: 167px;
      font-weight: 700;
      text-align: center;

      border: 13px solid @decorative-color;
      color: @decorative-color;
      border-radius: 50%;
    }
  }

  .research__content {
    width: 50%;
  }

  .research__name {
    display: block;
    margin-top: 10px;
    margin-bottom: 12px;
    width: 170px;

    font-size: 30px;
    line-height: 1.2;

    color: @title-color;
  }

  .research__text {
    margin: 0;
    margin-bottom: 13px;

    line-height: 1.7;
  }

  .research__more {
    color: @decorative-color;
  }

}

@media @desktop-widths {

  .research {
    background-color: @bg-main-color;
  }

  .research__wrapper {
    width: 940px;
    padding: 0 1.0416%;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 68px;
    justify-content: flex-start;

    &::before {
      content: "";
      display: block;
      width: 298px;
      height: 345px;
      margin-right: 67px;

      background-size: 298px 345px;
    }

    &::after {
      top: 90px;
      left: 38px;

      height: 219px;
      width: 219px;

      font-size: 120px;
      line-height: 208px;

      border: 17px solid @decorative-color;
    }
  }

  .research__content {
    width: 525px;
    margin-top: 40px;
  }

  .research__name {
    margin-bottom: 25px;
    width: auto;

    line-height: 1;
  }

  .research__text {
    margin-bottom: 30px;
    width: 522px;

    font-size: 18px;
  }

  .research__more {
    font-size: 18px;
    line-height: 1.7;
  }

}
