.slider__input {
  display: none;
}

.slider__toggles {
  text-align: center;
}

.slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;

  background-color: #bec2c7;
  border-radius: 50%;
  border: 3px solid @white-color;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__item {
  display: none;
}

#btn-1:checked ~ .slider__toggles .slider__toggle[for="btn-1"],
#btn-2:checked ~ .slider__toggles .slider__toggle[for="btn-2"],
#btn-3:checked ~ .slider__toggles .slider__toggle[for="btn-3"] {
  border: 3px solid @text-color;
  background-color: @white-color;
  opacity: 1;
}

@media @desktop-widths {

  .slider__toggles {
    display: none;
  }

}
