.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;

  font-size: 0;
}

@media @tablet-widths {

  .social-links {
    margin-top: 4px;
    margin-bottom: 0;
    width: 28.709%;
  }

}
